.custom-btn {
    background-color: #9c28a7 !important; /* Green color */
    border-color: #e7e7e7 !important;
    color: white !important;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  